@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

/* body {
  min-height: 1000px;
} */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/bg2.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
  margin-top: 20px;
}
.banner .content h2 {
  font-size: 4em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}
.btn {
  font-size: 1em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transform: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  margin-bottom: 20px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 05);
}
header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  position: relatived;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: #111;
}

header .navigation li a:hover {
  color: #ff0157;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.tittle-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.tittle-text span {
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 700;
}

.imgBx .row .col50 {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tittle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 20px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0, 08);
}

.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text {
  padding: 15px 0 5px;
}
.menu .content .box .text h3 {
  text-align: center;
  font-weight: 700;
  color: #111;
}
.expert .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert.content .box .text {
  padding: 15px 0 5x;
}
.expert .content .box .text h3 {
  text-align: center;
  font-weight: 700;
  color: #111;
}

.testimonial {
  background: url(/img/bg.jpg);
  background-size: cover;
}

.white .tittle-text,
.white P {
  color: #fff;
}
.testimonial .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.testimonial .content .box {
  width: 340px;
  padding: 40px;
  margin: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial .content .box .text {
  text-align: center;
}
.testimonial .content .box p {
  color: #666;
  font-style: initial;
}
.testimonial .content .box h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  font-weight: 700;
}

.contact {
  background: url(/img/bg3.jpg);
  background-size: cover;
}

.contact .contact-form {
  padding: 75px 50px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0, 01);
  max-width: 600px;
  margin-top: 50px;
  justify-content: center;
}

.contact-form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: 700;
}

.contact-form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .inputBox input,
.contact-form .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}
.contact-form .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background-color: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.copyrighttext {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0, 01);
  text-align: center;
  font-size: 16px;
}
.copyrighttext p {
  color: #333;
  font-weight: 700;
}
.copyrighttext a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    align-content: flex-end;
  }
  header .navigation a {
    margin-left: 0;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }
  .menutoggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menutoggle.active {
    background: url(/img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menutoggle {
    filter: invert(1);
  }
  .section {
    padding: 20px;
  }
  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx {
    height: 300px;
    margin-top: 30px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgBx {
    height: 260px;
  }
  .tittle {
    text-align: center;
  }
  .tittle-text {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .testimonial .content.box {
    margin: 10px;
    padding: 20px;
    align-items: ;
  }
  .contact-form {
    padding: 35px 40px;

    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .banner .content h2 {
    font-size: 2.2em;
    color: #fff;
  }
}
